/* ================================
   Waybar + Wallust (solid / compact)
   ================================ */

@define-color bg {{ background }};
@define-color fg {{ foreground }};
@define-color accent {{ color4 }};
@define-color warn {{ color1 }};
@define-color muted {{ color8 }};

/* ---------- Base ---------- */

* {
    font-family: JetBrainsMono;
    font-size: 14px;
    font-weight: 700;

    color: @fg;
    background: transparent;

    border: none;
    padding: 2px 6px;
}

/* ---------- Bar ---------- */

window#waybar {
    background: @bg;



    padding: 2px 4px;
    border-bottom: 2px solid @accent;
}

/* ---------- Module groups ---------- */

#workspaces,
#waybar-niri-window,
#windows,
#clock {
    font-weight: bold;
}
#tray,
#pulseaudio,
#custom-keyboard,
#network {
    background: @bg;
    margin: 0 4px;
    padding: 1px 4px;
    border-radius: 8px;
}

/* ---------- Workspaces ---------- */
#workspaces {
    background: transparent;
    margin: 0 1px;
}

#workspaces button {
    background: transparent;
    margin: 0 1px;
    padding: 1px 6px;
    border: none;
    border-bottom: 2px solid @muted;
    border-radius: 0;

    outline: none;

    transition:
        background-color 120ms ease,
        color 120ms ease,
        border-bottom-color 120ms ease;
}

/* hover — лёгкая реакция */
#workspaces button:hover {
    border-bottom-color: @accent;
    color: @fg;
}

/* ВЫБРАННЫЙ ВОРКСПЕЙС */
#workspaces button.focused {
    background: @accent;
    color: @bg;
    font-weight: 600;

    border-bottom-color: transparent;
}

/* срочный */
#workspaces button.urgent {
    background: @warn;
    color: @fg;
    font-weight: 600;
    border-bottom-color: @warn;
}


/* ---------- Window title ---------- */

#waybar-niri-window {
    opacity: 0.85;
}

/* ---------- Clock ---------- */

#clock {
    color: @accent;
    font-weight: 600;
}

/* ---------- Audio ---------- */

#pulseaudio.muted {
    color: @muted;
}

/* ---------- Tray ---------- */

#tray > .needs-attention {
    background: @warn;
    color: @bg;
}

/* ---------- Tooltip ---------- */

tooltip {
    background: @bg;
    color: @fg;
    border-radius: 8px;
    padding: 6px;
}
